:root {
  --color-background: rgb(224, 234, 255);
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-size: 1.6rem;
}

:link,
:visited {
  color: inherit;
}

button {
  height: 2.6rem;
  border: 2px solid transparent;
  border-radius: 0.8rem;
  padding: 0 0.8rem;
  background: var(--color-background);
  color: rgb(6, 87, 249);
  cursor: pointer;
  user-select: none;
  transition: filter 200ms ease-in-out;
  width: auto;

  &:hover {
    filter: contrast(90%);
  }
  &:disabled {
    opacity: 0.6;
  }
}

#root, .App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  font-family: sans-serif;
}

.content {
  padding: 0 1rem;
  width: 100%;
}

.sidenav {
  padding: 17px;
  background: #f4f7fb;
  flex-shrink: 0;

  ul {
    display: flex;
    flex-direction: column;
    grid-gap: 0.6rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
  }

  .header {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}

.scroll-list {
  overflow-y: auto;
  max-height: 40rem;
  background-color: var(--color-background);
  border-radius: 0.8rem;
  padding: 1rem;
  min-width: 10rem;
  min-height: 4rem;

  & > * {
    margin: .5rem 0;
    &:first-child, &:last-child {
      margin: 0 auto;
    }
  }
}